body {
  /* background: #f9f7fe; */
  /* background-image: url("https://images.pexels.com/photos/3768/sky-sunny-clouds-cloudy.jpg"); */
  /* background-position: center; */
  /* background-size: 100vw; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background: url("assets/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

a {
  color: #98b1d3;
}

.weather-app {
  background: #ecede1a7;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

form {
  display: flex;
  gap: 5px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 90%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #98b1d3;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  width: 20%;
}

main {
  padding-bottom: 30px;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.current-details {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.weather-info {
  text-align: right;
}
.current-details strong {
  color: #297144;
}

.current-temperature-icon {
  font-size: 0px;
}

.current-temperature-value {
  color: rgba(0, 0, 0, 0.6);
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  color: rgba(0, 0, 0, 0.6);
  font-size: 28px;
  position: relative;
  top: -38px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #297144;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  font-size: 13px;
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
